@CHARSET "UTF-8";

a:link  { color : white; }
a:visited  { color : white; }
a { text-decoration:none; }

body{
	background-image:url("../img/toolbox.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-size: 100% auto;
	color:white;
}
.title{
	float:left;
	width:45%;
	margin:3% 3% 0% 3%;
	text-align:center;
	font-size:60px;
	border:10px solid white;
	border-radius:10px;
}
.text{
	float:left;
	width:38%;
	font-size:12px;
	margin-top:3%;
	padding:3%;
	border:3px solid white;
	border-radius:10px;
	background-color:rgba(0,0,0,0.5);
}
