@CHARSET "UTF-8";
#header a:link  { color : white; }
#header a:visited  { color : white; }
#header a { text-decoration:none; }
#footer a:link  { color : white; }
#footer a:visited  { color : white; }
#footer a { text-decoration:none; }
.clear{
	clear:both;
}
body{
	font-family: メイリオ;
}
.header{
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;
	height:18%;
	background-size: contain;
	background-color:#45A1CF;
	color:white;
}
.header .logo{
	position: absolute;
	top: 15%;
	left: 8%;
	width:20%;
	height:20%;
	text-align:center;
	font-size:38px;
}
.header .logo span{
	border:5px solid white;
	border-radius:10px;
	padding:0 5% 0 8%;
}
.header ul{
	position: absolute;
	top: 35%;
	left: 38%;
	width:48%;
	height:20%;
	margin-left:10%;
}
.header li{
	float:left;
	list-style:none;
	font-size:14px;
	padding-left:5%;
}
.footer{
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
	height:5%;
	margin-top:13%;
	background-size: contain;
	background-color:#45A1CF;
	text-align:center;
	color:white;
}
.footer .copy{
	height:20%;
	margin:0 auto;
}
